<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather">
        <link rel="stylesheet" href="/css/style.css">
        </head>
        <body>
            <div class="main-content">
                {{>header}}
                <p>{{AboutText}}</p>
                </div>
                {{>footer}}
</html>